.cat {
  height: 232px;
  width: 100%;

  @media (min-width: 768px) {
    height: 600px;
    display: flex;
    justify-content: center;
  }

  img {
    height: 100%;
    max-width: 600px;
  }
}

.cat__mode {
  height: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    overflow: hidden;
    height: 600px;
    display: flex;
  }
}

.cat__mode--before {
  display: none;
  @media (min-width: 768px) {
    justify-content: flex-start;
    width: 30%;
  }
}

.cat__mode--after {
  @media (min-width: 768px) {
    justify-content: flex-end;
    display: flex;
  }
}


