.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-grey-8;
  height: 104px;
  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__ingredients {
  width: 100%;

  td:last-of-type {
    text-align: right;
  }
}
