.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  margin-left: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-grey-8;
  height: 104px;
}
