.catalog__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height, or 100% */


  color: $black;
margin-left: 20px;
}
