$dark-grey: #222222;
$dark-grey-2: #444444;
$dark-grey-3: #111111;
$black: #000000;
$background-green: #68b738;
$green-for-button: #5eaa2f;
$light-grey-1: #eaeaea;
$light-grey-2: #cdcdcd;
$light-grey-3: #e6e6e6;
$light-grey-4: #e7e7e7;
$light-grey-5: #d9d9d9;
$light-grey-6: #f2f2f2;
$light-grey-7: #e5e5e5;
$light-grey-8: #ebebeb;
$white: #ffffff;
$background-blue: #0784be;
$background-grey:#F2F2F2;
