$dark-grey: #222222;
$dark-grey-2: #444444;
$dark-grey-3: #111111;
$black: #000000;
$background-green: #68b738;
$green-for-button: #5eaa2f;
$light-gray-1: #eaeaea;
$light-gray-2: #cdcdcd;
$light-gray-3: #e6e6e6;
$light-gray-4: #e7e7e7;
$light-gray-5: #d9d9d9;
$light-grey-6: #f2f2f2;
$white: #ffffff;
