.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */

  text-transform: uppercase;

  color: $dark-grey-3;
  width: 140px;
  height: 60px;

  @media (min-width: 768px) {
    font-size: 20px;
    width: 171px;
    line-height: 21px;
  }
}

.contacts__text {
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  /* special_dark-grey */

  color: $dark-grey-2;
  width: 140px;
  height: 60px;


  @media (min-width: 768px) {
    font-size: 16px;
    width: 159px;
    line-height: 20px;
  }
}
