.desc__item {
  display: flex;
  flex-direction: row;
}
.desc__item--icon {
  width: 60px;
  height: 60px;
  background-color: #68B738;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-right: 20px;
}
.desc__description {
  height: 54px;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
