.example {
  background-color: $light-grey-1;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: 768px) {
    padding-left: $page-padding-mobile;
    padding-right: $page-padding-mobile;
  }

  @media (min-width: 768px) {
    padding-left: $page-padding-tablet;
    padding-right: $page-padding-tablet;
  }

  @media (min-width: 1440px) {
    padding-left: $page-padding-desktop;
    padding-right: $page-padding-desktop;
  }

  @media (min-width: 768px) and (max-width: 1440px) {
    background-color: $white;
  }

  @media (min-width: 1440px) {
    display: flex;
    height: 462px;
    align-items: flex-end;
  }
}

.example__weightdays {
  border: 1px solid $light-grey-2;
  box-sizing: border-box;
  border-radius: 3px;
  width: 124px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-size: 24px;

  @media (min-width: 768px) {
    width: 162px;
    height: 77px;
    font-size: 30px;
  }
}

.example__weightdays:first-of-type {
  margin-right: 40px;
}

.example__description-weightdays {
  height: 31px;
  background-color: $light-grey-1;
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  color: $dark-grey-2;
  bottom: -30px;
  padding: 0 15px 0 15px;

  @media (min-width: 768px) and (max-width: 1440px) {
    background-color: $white;
  }

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.example__description {
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey-2;
  text-align: left;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 54px;
    margin-top: 63px;
  }
}

.example__description--price {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 45px;
  display: inline-flex;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    width: 195px;
    text-align: right;
  }

  @media (min-width: 1440px) {
    width: 400px;
  }
}

.example__general {

  @media (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    flex-direction: column;
  }
}

.example__parameters {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    display: inline-flex;
  }

  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

.example__cat-slider {
  @media (min-width: 1440px) {
    width: 50%;
  }
}
