.gift {
  background-image: url(../img/gift-green-background-cat.jpg);
  background-color: $background-green;
  height: 290px;
  margin-bottom: 35px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1440px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    background-image: url(../img/tablet-gift-green-background-cat.jpg);
    height: 200px;
  }

  @media (min-width: 1440px) {
    background-image: url(../img/PC-gift-green-background-cat.jpg);
    height: 290px;
    width: 245px;
    margin: 0;
  }

  @media (min-width: 768px) and (max-width: 1440px) {
    align-items: center;
    justify-content: center;
  }
}

.gift__green--slogan {
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;
  color: $white;
  margin-top: 50px;

  @media (min-width: 768px) and (max-width: 1440px) {
    margin: 0;
  }
}

.gift__green {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) and (max-width: 1440px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
}
