.location {
  display: flex;
  background-color: $background-blue;
  background-repeat: no-repeat;
  background-size: cover;
  height: 362px;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
  }
}
