.page-header__logo {
  height: 66px;
  border-bottom: 1px solid $light-grey-3;
}

.main-nav__wrapper {
  height: 264px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.main-nav__list {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-left: $page-padding-tablet;
    padding-right: $page-padding-tablet;
  }
}

.site-list__item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  height: 66px;
  border-bottom: 1px solid $light-grey-3;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;

  @media (min-width: 768px) {
    font-size: 18px;
    border-bottom: none;
  }
}

.site-list__item--active {
  a {
    @media (min-width: 768px) {
      border-bottom: 1px solid #68b738;
      line-height: 36px;
    }
  }
}

.site-list__item > a {
  text-decoration: none;
  color: $black;
}

.site-list__item > a:visited {
  color: $black;
}

.site-list__item a:hover {
  color: $black;
}

.site-list__item a:active {
  color: $black;
  opacity: 0.3;
}

.main-nav__toggle {
  background-image: url("../img/logo-open-main-menu.svg");
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  background-color: $white;
  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1440px) {
    display: none;
  }
}
