.make-program__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  display: flex;
  align-items: center;
}

.make-program__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  text-transform: uppercase;

  color: $black;
  margin: 0;
  margin-bottom: 37px;
}

.make-program__data {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 24px;
  text-transform: uppercase;

  .make-program__field + .make-program__field {
    margin-top: 14px;
  }
}

.make-program__choice {
  border-top: 1px solid $light-grey-5;
  border-bottom: 1px solid $light-grey-5;
  font-family: Oswald;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 -20px 0 -20px;
  padding: 20px;
}

.make-program__owner-title h2 {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  /* or 108% */

  color: $black;
  margin-bottom: 20px;
  margin-top: 26px;
}

.make-program__cat-owner {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey-2;

  .make-program__field + .make-program__field {
    margin-top: 14px;
  }
}

.make-program__contacts {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */

  color: $black;
}

.make-program__additionally--list {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  text-transform: uppercase;

  color: $black;
  margin: 20px;
}

.make-program__additionally {
  display: flex;
  flex-direction: column;

  .make-program__field + .make-program__field {
    margin-top: 14px;
  }
}
.make-program__contacts-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */

  text-transform: uppercase;

  /* special_dark-grey */

  color: $dark-grey-2;
  border: 1px solid $light-grey-4;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  outline: none;
}

.make-program__field {
  align-items: center;
  display: flex;
  border: none;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  /* special_dark-grey-2 */

  color: $dark-grey;

  label {
    display: flex;
    align-items: center;
  }
}

.make-program__additionally--list {
  display: flex;
}

.make-program__choice label {
  display: flex;
  align-items: center;
}

.make-program__additionally--list label {
  display: flex;
}

.make-program__choice input[type="radio"] {
  opacity: 0;
  display: none;
}

.make-program__choice input[type="radio"] + label::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/radiobutton.svg");
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
}

.make-program__choice input[type="radio"]:checked + label::before {
  background-image: url("../img/radiobutton-active.svg");
}

.make-program__choice input[type="radio"]:disabled + label::before {
  background-image: url("../img/radiobutton-passive-down.svg");
}

.make-program__choice input[type="radio"]:checked:disabled + label::before {
  background-image: url("../img/radiobutton-active-down.svg");
}

.make-program__additionally--list input[type="checkbox"] {
  opacity: 0;
  display: none;
}

.make-program__additionally--list input[type="checkbox"] + label::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-icon.svg");
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-size: contain;
}

.make-program__additionally--list
  input[type="checkbox"]:checked
  + label::before {
  background-image: url("../img/checkbox-checked.svg");
}

.make-program__additionally--list
  input[type="checkbox"]:disabled
  + label::before {
  background-image: url("../img/checkbox-disabled.svg");
}

.make-program__additionally--list
  input[type="checkbox"]:checked:disabled
  + label::before {
  background-image: url("../img/checkbox-checked-disabled.svg");
}

.make-program__footnote {
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  justify-content: center;

  color: $black;
  width: 100%;
  height: 80px;
}

.make-program {
  padding: 0 20px 0 20px;
  label {
    white-space: nowrap;
  }
}

.make-program__icon-email {
  background-image: url("../img/icon-email.svg");
  width: 26px;
  height: 18px;
  right: 35px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

.make-program__icon-phone {
  background-image: url("../img/icon-phone.svg");
  width: 26px;
  height: 25px;
  right: 30px;
  flex-shrink: 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

.make-program__section-title {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}
