.product-more__description-main {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $dark-grey;
}

.product-more__description-add {
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: $dark-grey-2;
  justify-content: space-between;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
}

.product-more__product {
  margin-top: 15px;
  margin-bottom: 15px;

  @media (min-width: 1440px) {
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 0 40px 0 0;
  }
}



.product-more__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid $light-grey-8;

  .programs__button {
    width: 100%;
  }

  @media (min-width: 768px) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 25px;
    border: 1px solid $light-grey-8;
  }

  @media (min-width: 1440px) {
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid $light-grey-8;
    width: 896px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;

    .programs__button {
      width: 244px;
      margin: 0;
      flex-shrink: 0;
    }
  }

}

.product-more__item:last-of-type {
  border-bottom: 1px solid $light-grey-8;
  padding-bottom: 20px;
}


