.programs__header {
  @media (max-width: 768px) {
    color: $white;
    position: relative;
  }
}

.programs__header--green {
  position: relative;
  background-color: $background-green;

  .programs__button {
    padding: 0;
    width: 244px;
    height: 54px;
    margin: 49px 0 0 0;
  }

  @media (max-width: 768px) {
    height: 302px;

    .programs__button {
      display: none;
    }
  }

  @media (min-width: 768px) and (max-width: 1440px) {
    background-color: transparent;
    padding-left: $page-padding-desktop;
    padding-right: $page-padding-desktop;
    padding-top: 64px;
    padding-bottom: 40px;

    .programs__title {
      line-height: 60px;
      margin-bottom: 41px;
    }

    .programs__title,
    .programs__slogan {
      color: $black;
      padding: 0;
    }
  }
}

.programs__header--chicken {
  background-image: url(../img/chicken-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 609px;
  background-size: contain;
  position: relative;
  top: initial;

  @media (max-width: 768px) {
    height: 270px;
    top: -135px;
    position: relative;
  }
}

.programs__header--chicken-block {
  @media (max-width: 768px) {
    height: 135px;
  }
}

.programs__list {
  @media (min-width: 768px) {
    display: none;
  }
}

.programs__item {
  margin: 20px;
  padding: 20px;
  background-color: $light-grey-6;
}

.programs__grid {
  display: flex;
  align-items: center;

  .programs__icon {
    display: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: 768px) and (max-width: 1440px) {
      display: block;
      height: 270px;
      width: 100%;
    }
  }

  .programs__icon--slim {
    background-image: url("../img/slim-cat.svg");
  }

  .programs__icon--muscle {
    background-image: url("../img/muscle-cat.svg");
  }

  @media (max-width: 768px) {
    border-bottom: 1px solid $light-grey-5;
  }
}

.programs__subtitle {
  text-transform: uppercase;
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  display: flex;
  align-items: center;

  img {
    margin-right: 19px;
    @media (min-width: 768px) and (max-width: 1440px) {
      display: none;
    }
  }

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__description {
  font-family: "Arial", "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  /* special_dark-grey */

  color: $dark-grey-2;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__link:active {
  opacity: 0.3;
}

.programs__button {
  display: flex;
  width: calc(100% - 40px);
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: $background-green;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  outline: none;
  border: none;
  margin: 0 auto;
}

.programs__button:hover {
  background: $green-for-button;
}

.programs__button:active > span {
  color: $white;
  opacity: 0.3;
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  font-size: 60px;

  color: $white;
  padding-top: 27px;
  margin-bottom: 25px;
  padding-left: $page-padding-mobile;
  padding-right: $page-padding-mobile;

  @media (max-width: 768px) {
    text-align: center;
    font-size: 36px;
  }
}

.programs__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 14px;
  text-transform: uppercase;

  color: $white;

  @media (max-width: 768px) {
    text-align: center;
    font-size: 14px;
  }
}

.programs__green-backround-cat {
  background-image: url(../img/index-background-desktop-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.1;

  @media (min-width: 768px) and (max-width: 1440px) {
    display: none;
  }
}

.programs__description--text {
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.desc__wrapper {
  padding: 0 20px 26px 20px;

  h1 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
  }
}
