.section-title {
  display: flex;
  align-items: baseline;
  width: 100%;

  > h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
  }

  > div:first-of-type, div:last-of-type {
    height: 0;
    border-bottom: 2px solid $background-green;
  }

  > div:first-of-type {
    width: 0;

    @media (min-width: 768px) {
      width: 10%;
      margin-right: 5%;
      margin-left: -20px;
    }
  }

  > div:last-of-type {
    width: 100%;
    margin-left: 5%;
    margin-right: -20px;
  }
}
