.social__list {
  height: 63px;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: space-around;
}
.social__link--vkontakte {
  background-image: url("../img/vk-icon-passive.svg");
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--vkontakte:hover {
  background-image: url("../img/vk-icon-hover.svg");
}
.social__link--vkontakte:active {
  background-image: url("../img/vk-icon-active.svg");
}
.social__link--instagram {
  background-image: url("../img/inst-icon-passive.svg");
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--instagram:hover {
  background-image: url("../img/inst-icon-hover.svg");
}
.social__link--instagram:active {
  background-image: url("../img/inst-icon-active.svg");
}

.social__link--facebook {
  background-image: url("../img/fb-icon-passive.svg");
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--facebook:hover {
  background-image: url("../img/fb-icon-hover.svg");
}
.social__link--facebook:active {
  background-image: url("../img/fb-icon-active.svg");
}

.copyright__link {
  background-image: url("../img/logo-html-passive.svg");
  width: 163px;
  height: 34px;
}

.copyright__link:hover {
  background-image: url("../img/logo-html-hover.svg");
}
.copyright__link:active {
  background-image: url("../img/logo-html-active.svg");
}

.page-footer__social--logo {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
