@import "programs.scss";
@import "main-nav.scss";
@import "social__list.scss";
@import "desc.scss";
@import "example.scss";
@import "location.scss";
@import "page-footer.scss";
@import "font.scss";
@import "page-header.scss";
@import "make-program.scss";
@import "catalog__item.scss";
@import "colors.scss";
@import "copyright__link.scss";
@import "product-more__item";
@import "contacts";


body {
  background-color: $white;
  font-family: "Oswald", "Arial", sans-serif;
}
.page {
  width: 320px;
}
